<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" style='font-weight: bold' href="{% url "home" %}">LPS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'graphical_method' %}active{% endif %}" aria-current="page" href="{% url "graphical_method" %}">Graphical</a>
                </li>
                <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'simplex_method' %}active{% endif %}" href="{% url "simplex_method" %}">Simplex</a>
                </li>
                <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'transportation_method' %}active{% endif %}" href="{% url "transportation_method" %}">Transpotation</a>
                </li>
                <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'generate' %}active{% endif %}" href="{% url "generate" %}">Time-Table Generator</a>
                </li>
            </ul>
        </div>
    </div>
</nav>